In [2]:
print("simple hello world program")
print("hello, world!!")
print("hello i m pranjal \n en no:180630107003")

simple hello world program
hello, world!!
hello i m pranjal
 en no:180630107003

In [4]:
print("if statement program")
x=1
if x==1:
    print("x is 1")
print("pranjal barot \n 180630107003")

if statement program
x is 1
pranjal barot
 180630107003

In [5]:
print("simple good bye meassage showing program")
print("goodbye, world!!")
print("pranjal barot \n 180630107003")

simple good bye meassage showing program
goodbye, world!!
pranjal barot
 180630107003

In [6]:
print("addition of two numbers")
num1=4.5
num2=8
sum=num1+num2
print("sum of {0} and {1} is {2}".format(num1,num2,sum))
print("pranjal barot \n 180630107003")

addition of two numbers
sum of 4.5 and 8 is 12.5
pranjal barot
 180630107003

In [7]:
#number and datatype
print("print a number")
num=1.7
print(num)
print("pranjal barot  \n en no:180630107003")

print a number
1.7
pranjal barot
 en no:180630107003

In [9]:
print("program to print number of different datatype")
num=7.0
print(num)
ans=int(num)
print(ans)
print("pranjal barot \n 180630107003")

program to print number of different datatype
7.0
7
pranjal barot
 180630107003

In [10]:
print("printing numbers")
a,b=3,4
print(a,b)
print("pranjal barot \n 180630107003")

printing numbers
3 4
pranjal barot
 180630107003

In [12]:
print("program to show single and double quatation")
string1='hello'
print(string1)
string2="hello"
print(string2)
print("pranjal barot \n 180630107003")

program to show single and double quatation
hello
hello
pranjal barot
 180630107003

In [14]:
print("program to print string")
mystring='dont worry about apostrophes'
print(mystring)
print("pranjal barot \n 180630107003")

program to print string
dont worry about apostrophes
pranjal barot
 180630107003

In [15]:
print("program to cocating string")
one=1
two=2
three=one+two
print(three)
hello="hello"
world="world"
helloworld="hello"+" "+"world"
print(helloworld)
print("name:pranjal barot \n en no:180630107003")

program to cocating string
3
hello world
name:pranjal barot
 en no:180630107003

In [16]:
mystring="hello"
myfloat=7.5
myint=20
if mystring=="hello":
    print("string: %s"%mystring)
if isinstance(myfloat,float) and myfloat==10.0:
    print("float: %f" % myfloat)
if isinstance(myint,int) and myint==20:
    print("integer:%d" % myint)

string: hello
integer:20

In [18]:
#list
print("program to append in list and showing the output")
mylist=[]
mylist.append(10)
mylist.append(20)
mylist.append(30)
print(mylist[0],mylist[1],mylist[2])
for x in mylist:
    print(x)
print("pranjal barot \n 180630107003")

program to append in list and showing the output
10 20 30
10
20
30
pranjal barot
 180630107003

In [19]:
print("program to show element at particular location in list")
mylist=[1,2,3]
print(mylist[0])
print(mylist[2])
print("pranjal barot\n180630107003")

program to show element at particular location in list
1
3
pranjal barot
180630107003

In [21]:
print("program to print whole list")
numbers=[1,2]
string=['abc','def']
names=["john","eric","jessica"]
second_name="jerry"
print(numbers)
print(string)
print("the second name in name list is:%s" % second_name)
print("pranjal barot \n180630107003")

program to print whole list
[1, 2]
['abc', 'def']
the second name in name list is:jerry
pranjal barot
180630107003

In [23]:
#basic operators
print("program to solve a problem")
number=1+2*3/4.0
print(number)
print("pranjal barot \n en no:180630107003")

program to solve a problem
2.5
pranjal barot
 en no:180630107003

In [24]:
print("reminder program")
remainder=11%3
print(remainder)
print("pranjal barot\n180630107003")

reminder program
2
pranjal barot
180630107003

In [25]:
print("program to find square and cube")
square=7**2
cube=2**3
print(square)
print(cube)
print("square of 7 is {0} and cube of 2 is{1}".format(square,cube))
print("pranjal barot\n180630107003")

program to find square and cube
49
8
square of 7 is 49 and cube of 2 is8
pranjal barot
180630107003

In [27]:
print("print 5 times hello")
lotsofhello="\n hello"*5
print(lotsofhello)
print("pranjal barot \n180630107003")

print 5 times hello

 hello
 hello
 hello
 hello
 hello
pranjal barot
180630107003

In [29]:
print("odd even number program")
even_numbers=[2,4,6,8,0]
odd_numbers=[1,3,5,7,9]
all_numbers=(even_numbers+odd_numbers)
print(all_numbers)
print("name:pranjal barot \n en no:180630107003")

odd even number program
[2, 4, 6, 8, 0, 1, 3, 5, 7, 9]
name:pranjal barot
 en no:180630107003

In [30]:
print("to print element of list 3 times")
print([1,2,3]*3)
print("pranjal barot\n180630107003")

to print element of list 3 times
[1, 2, 3, 1, 2, 3, 1, 2, 3]
pranjal barot
180630107003

In [34]:
print("finding the object of list")
x=object()
y=object()
x_list=[x]*10
y_list=[y]*10
big_list=x_list+y_list
print("x list contain %d objects" %len(x_list))
print("y list contain %d objects" %len(y_list))
if x_list.count(x)==10 and y_list.count(y)==10:
    print("almost there...")
if big_list.count(x)==10 and big_list.count(y)==10:
    print("great!!")
print("pranjal barot\n180630107003")

finding the object of list
x list contain 10 objects
y list contain 10 objects
almost there...
great!!
pranjal barot
180630107003

In [36]:
#string formation
print("string formation")
name='john'
print("hello, %s" %name)
name='pranjal barot'
enrollment=180630107003
print("%s \n en. no:%d"%(name,enrollment))

string formation
hello, john
pranjal barot
 en. no:180630107003

In [37]:
print("program to print name and age")
name="john"
age=23
print("name is %s and age is %d" %(name,age))
print("pranjal barot \n180630107003")

program to print name and age
name is john and age is 23
pranjal barot
180630107003

In [38]:
print("program to print list")
mylist=[1,2,3,4]
print("a list is %s" %mylist)
print("pranjal barot \n180630107003")

program to print list
a list is [1, 2, 3, 4]
pranjal barot
180630107003

In [41]:
print("string formation program")
data=("john","done",53.44)
format_string="hello %s %s, your current balance is $%2.3f"
print(format_string %data)
print("pranjal barot\n180630107003")

string formation program
hello john done, your current balance is $53.440
pranjal barot
180630107003

In [42]:
print("cancate string")
num=180630107003
concate="my enrollment is %d"
print(concate %num)
string="pranjal"
print("my name is %s" %string)

cancate string
my enrollment is 180630107003
my name is pranjal