In [1]:
#conditions
print("printing boolean values")
x=2
print(x==3)
print(x==2)
print(x<3)
print("pranjal barot \n180630107003")

printing boolean values
False
True
True
pranjal barot
180630107003

In [3]:
print("boolean operator")
name="john"
age=23
if name=="john" and age==23:
    print("your name is john and age is 23")
if name=="john" or name=="rick":
    print("your name is either joh or rick")
print("pranjal barot\n180630107003")

boolean operator
your name is john and age is 23
your name is either joh or rick
pranjal barot
180630107003

In [4]:
print("use of in operator")
name="john"
if name in ("john","rick"):
    print("your name is either john or rick")
print("ranjal barot\n180630107003")

use of in operator
your name is either john or rick
ranjal barot
180630107003

In [7]:
print("if statement")
x=2
if x==2:
    print("x is 2")
else:
    print("x does not equal to 2")
print("pranjal barot\n180630107003")

if statement
x is 2
pranjal barot
180630107003

In [8]:
print("is operator")
x=[1,2,3]
y=[1,2,3]
print(x==y)
print(x is y)
print("pranjal\n180630107003")

is operator
True
False
pranjal
180630107003

In [10]:
print("not operator")
print(not False)
print((not False)==(False))
print("pranjal barot\n180630107003")

not operator
True
False
pranjal barot
180630107003

In [13]:
#loops
print("for loop")
primes=[2,3,5,7]
for i in primes:
    print(i)
print("pranjal barot\n180630107003")

for loop
2
3
5
7
pranjal barot
180630107003

In [15]:
#print out the numbers 0,1,2,3,4
for x in range(5):
    print(x)
#print 3,4,5
print("print number 3,4,5")
for x in range(3,6):
    print(x)
print("pranjal barot\n180630107003")

0
1
2
3
4
print number 3,4,5
3
4
5
pranjal barot
180630107003

In [17]:
#while loops
print("print 0,1,2,3,4")
count=0
while count<5:
    print(count)
    count+=1
print("pranjal barot\n180630107003")

print 0,1,2,3,4
0
1
2
3
4
pranjal barot
180630107003

In [20]:
#break 
print("print 0,1,2,3,4")
count=0
while True:
    print(count)
    count+=1
    if count>=5:
        break
print("pranjal barot\n180630107003")

print 0,1,2,3,4
0
1
2
3
4
pranjal barot
180630107003

In [21]:
#continue
print("odd numbers")
for x in range(10):
    if x%2==0:
        continue
    print(x)
print("pranjal barot\n180630107003")

odd numbers
1
3
5
7
9
pranjal barot
180630107003

In [22]:
print("Print 0,1,2,3,4 and then it prints")
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))
print("pranjal barot\n180630107003")

Print 0,1,2,3,4 and then it prints
0
1
2
3
4
count value reached 5
pranjal barot
180630107003

In [23]:
print("Prints out 1,2,3,4")
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break")
print("pranjal barot\n180630107003")

Prints out 1,2,3,4
1
2
3
4
pranjal barot
180630107003